
body {
		background-color: #141414;
		margin: 0px;
	}

.container {
	margin: 0px;
	display: grid;
	grid-template-columns: 0px 1fr 1fr 0px;
	grid-template-rows: 150px 900px 100px;


}



h2, p, button, footer {
	font-family: 'Jaldi', sans-serif;
}

button {
	text-align: right;

}

#searchBtn {
	font-size: 15px;
	border-radius: 5px;
	font-family: 'Jaldi', sans-serif;
}

#input {
	line-height: 2em;
	display: inline-block;
}

.banner {
	grid-row: 1;
	grid-column: 2 / span 4;
	background-color: #b3e0ff;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}

.form {
	grid-column: 3;
	grid-row: 2;
	padding-top: 15px;
	font-size: 20px;
	font-family: 'Jaldi', sans-serif;
}



.dropbtn {
	grid-column: 3;
	grid-row: 1;
	text-align: left;
  	color: white;
  	border: none;
  	width: 60px;
   	z-index: 0;
   	justify-content: space-between;
   	padding-top: 45px;
   	height: 45px;
   	padding-right: 25px;
   	padding-left: 25px;
   

}

.dropbtn a {
	background-color: none;
	color: white;
	padding: 5px;
	border: none;
	 font-size: 18px;

}

.dropdown-content {
  display: none;
  background-color: #1c1c1c;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 0px;
  width: 300px;
  transform: translateX(-250px);
 
}


.dropdown-content a {
  color: white;
  padding: 20px 16px;
  text-decoration: none;
  display: block;
  font-family: 'Jaldi', sans-serif;

}

.dropdown-content a:hover {background-color: #525252;}


.dropbtn:hover .dropdown-content { display: block;}

.hamburger {
	transition: transform .3s;
}

.hamburger:hover {
	transform: scale(1.2);

}
.title {
	margin: 0;
}

h1 {
	font-family: 'Press Start 2P', cursive;
	display: inline-block;
	padding-left: 25px;
	padding-top: 40px;
	font-size: 35px;
	transition: transform .5s;
}


h1 a {
	text-decoration: none;
	color: black;
}

h1:hover {
	transform: scale(1.1);
}



h3 {
	font-family: 'Press Start 2P', cursive;
	line-height: 5em;
}

h1:hover ~ hr {
  margin-left: 55%;
}

hr {
  height: .25rem;
  width: 40%;
  margin: 0;
  background: yellow;
  border: none;
  transition: .5s ease-in-out;
  margin-left: 25px;
}

#iconDiv {
	align-items: center;

}

main:hover {
	transform: scale(1.1);
}


.description {
	margin: 35px;
	padding: 15px;
	grid-column: 2;
	grid-row: 2;
	font-size: 18px;
	color: white;
	border: 1px solid #19191a;
}

main {
	grid-row: 2;
	grid-column: 3 / span 4;
	margin: 35px;
	padding: 15px;
	padding-top: 25px;
	text-align: center;
	transition: transform .2s;
}


footer {
	background-color: #b3e0ff;
	grid-row: 3;
	grid-column: 2 / span 4;
	text-align: center;
	padding-top: 27px;
	font-size: 15px;
		position: fixed;
		bottom: 0;
		width: 100%;
}


.homepage-main {
	grid-row: 2;
	grid-column: 2 / span 3;
	padding: 50px;
	margin: 15px;
	text-align: center;
}

.homepage-title {
	color: white;
	font-size: 35px;
	font-family: 'Jaldi', sans-serif;


}

.photoflex {
	height: 570px;
	padding: 50px;
}


.first4, .second4 {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	padding: 50px;
}

.photo1, .photo2, .photo3, .photo4, .photo5, .photo6, .photo7, .photo8 {
	height: 100px;
	width: 100px;
	transition: transform .2s;
	border-radius: 28px;

}

.photo1 img, .photo2 img, .photo3 img, .photo4 img, .photo5 img, .photo6 img, .photo7 img, .photo8 img {
	width: 100%;
}

.photo1:hover, .photo2:hover, .photo3:hover, .photo4:hover, .photo5:hover, .photo6:hover, .photo7:hover, .photo8:hover {

	transform: scale(1.8);
}

@media screen and (max-width: 1323px) {

	footer {
		position: fixed;
		bottom: 0;
		width: 100%;
	}

	h3 {
	margin: 0;
	font-size: 25px;
	line-height: 1.5em;
	text-align: center;
}

.form {
	padding-top: 15px;
	font-size: 45px;
}


.description {
	margin: 35px;
	padding: 15px;
	grid-column: 2;
	grid-row: 2;
	font-size: 35px;
	color: white;
	border: 1px solid #19191a;
}

p {
	font-size: 15px;
	padding: 0px;
}


@media screen and (min-width: 400px) {




	footer {
		position: fixed;
		bottom: 0;
		width: 100%;
	}

	h3 {
	margin: 0;
	font-size: 25px;
	line-height: 1.5em;
	text-align: center;
}

.form {
	padding-top: 15px;
	font-size: 25px;
}


.description {
	margin: 5px;
	padding: 5px;
	font-size: 25px;
	color: white;
	border: 1px solid #19191a;
}

p {
	font-size: 15px;
	padding: 0px;
}











